<nav class="navbar navbar-expand-md navbar-light bg-light" style="width:100%">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="/products" class="nav-item nav-link active">Home</a>
            <a href="#" class="nav-item nav-link">Checkout</a>
        </div>
    </div>
</nav>
