<div class= "row">
    <div class="col-lg-4">
        <img class="card-img-top" src="{{product.image}}" alt="Image">
    </div> 
    <div class="col-lg-4">
        <div class="row">
            <h5>{{product.product_name}}</h5>
        </div>
        <div class="row">
                <p>{{product.product_description}}</p>
        </div>
        <div class="row">
               <span>{{product.color}}</span>
               <span>{{product.price}}</span>
              <span>{{product.product_category}}</span>
        </div>
    </div>
</div>